/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 2, 2017, 10:45:39 AM
    Author     : linhdo
*/

.title1{
    color:#F2DDF3;
    text-align:center;
    font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size:x-large;
    font-style:italic;
    font-weight: bold;
    border:hidden; 
    border-bottom-right-radius: 200px;
    border-bottom-left-radius:200px;
    background-color:#4A38BD;
}